<div class="card-container">
  <div class="card">
    <div class="image-wrapper">
      <img src="/images/Example_ApplePie.jpg" class="image" alt="Recipe Image">
      <img class="star" src="/images/EmptyStar.png" />
    </div>
    <div class="card-footer">
      <div>title</div>
      <div>Rating: rating</div>
      <div>Estimated Time: 20 min</div>
    </div>
  </div>
</div>