<!DOCTYPE html>
<html lang="en">
{{> fragments/html_header}}
<body class="home-bg">
    <div class="separator-bottom">
  <nav class="navbar-content">
    <div class="nav-left">
      <a href="/">Home</a>
      <a href="/chefs">Chefs</a>
      <a href="/recipe">Recipe</a>
      <a href="/favorites">Favorites</a>
      <a href="/search">Search</a>
    </div>
    <div class="nav-right">
      <a href="/profile/{{user_id}}/true">Profile</a>
      <a href="/login">Logout</a>
    </div>
  </nav>
</div>
    {{> fragments/recipe_container}}
</body>
</html>